[submodule "under_collateralized_lending/lib/forge-std"]
	path = under_collateralized_lending/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "under_collateralized_lending/lib/openzeppelin-contracts"]
	path = under_collateralized_lending/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
